<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>User</h1>
<form action="" method="post" name="user">
    {{ form.hidden_tag() }}
    <p>
        Please enter your user name and password :<br><br>
        User Name : {{ form.username(size=30) }}
        {% for error in form.username.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
<br />
        Password : {{ form.password(size=30) }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        E-Mail : {{ form.email(size=100) }}
        {% for error in form.email.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="Save"></p>
</form>
{% endblock %}